
.board {
    display: grid;
    grid-template-columns: repeat(11, 50px); /* 11 colonnes */
    grid-template-rows: repeat(11, 50px); /* 11 lignes */
    gap: 2px; /* Espacement entre les cellules */
    width: 550px; /* Ajustez la taille du plateau de jeu au besoin */
    height: 550px; /* Ajustez la taille du plateau de jeu au besoin */
    border: 2px solid black; /* Bordure du plateau de jeu */
    margin: 0 auto; /* Centrer le plateau de jeu sur la page */
}

/* Styles pour chaque cellule du plateau de jeu */
.cell {
    background-color: white; /* Couleur de fond par défaut */
    border: 1px solid black; /* Bordure de la cellule */
}

/* Styles pour les différentes couleurs des régions du plateau de jeu */
.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

/* Styles pour le dé */
#dice {
    margin-top: 20px;
}

/* Styles pour le bouton de lancer le dé */
#rollDiceBtn {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
}
